body, html {
    height: 100%;
}

body {
  background-image: url("../images/white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  color: #F08080;
  font-size: 70px;

}

.heading {
  border: 6px;
  border-color: #FBC02D;
  border-style: solid;
  padding: 6px;
  margin: 20px;
}

.subheading {
  color: #7CB342;
  font-size: 30px;

}

.list1 {

  width: 30%;
  float: left;
  list-style-type: none;
}
strong{
  color: #F57C00;
}

img {
  float: left;
}

.leftpad {
  padding-left: 400px;
}

#gitlink:hover{
  color: yellow;
  background-color: black;
}

.linkedin{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
